[Desktop Entry]
Categories=System;Settings;
Comment[en_GB]=Inspect installed RPM packages and DNF dependencies
Comment=Inspect installed RPM packages and DNF dependencies
Exec=lgl-dnf-helper
GenericName[en_GB]=Package Inspector
GenericName=Package Inspector
Icon=/development/projects/lgl-dnf-helper/resources/icons/lgl-dnf-helper-icon.png
Keywords=dnf;dnf5;rpm;package;dependencies;fedora;repository;
MimeType=
Name[en_GB]=LGL DNF Helper
Name=LGL DNF Helper
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
